* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  background-color: var(--background-color);
  font-family: "Satoshi", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  padding-inline: 24px;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Chillax", sans-serif;
  color: var(--asphalt-border);
}

.gridDash {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

button {
  cursor: pointer;
}

.authBtn {
  font-family: "Chillax", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  width: 100%;
  border-radius: 20px;
  font-size: 24px;
  background-color: transparent;
  border: 1px solid var(--green-dark);
  padding: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  transition: all 0.2s ease;
}

.authBtn:hover {
  background-color: #e8eedf;
}

.errorMessage {
  color: var(--red);
}
