* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  background-color: var(--background-color);
  font-family: "Satoshi", sans-serif;
}

/* ovo je za svaki layout ovako za mobile verziju  */
.container {
  width: 100%;
  margin-inline: 24px;
}

@font-face {
  font-family: "Chillax";
  src:
    url("../assets/fonts/chillax/Chillax-Variable.woff2") format("woff2"),
    url("../assets/fonts/chillax/Chillax-Variable.woff") format("woff"),
    url("../assets/fonts/chillax/Chillax-Variable.ttf") format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src:
    url("../assets/fonts/satoshi/Satoshi-Variable.woff2") format("woff2"),
    url("../assets/fonts/satoshi/Satoshi-Variable.woff") format("woff"),
    url("../assets/fonts/satoshi/Satoshi-Variable.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}
