:root {
  --font-chillax-medium: "Chillax-Medium", sans-serif;
  --font-chillax-bold: "Chillax-Medium", sans-serif;

  --font-satoshi-regular: "Satoshi-Regular", sans-serif;
  --font-satoshi-medium: "Satoshi-Medium", sans-serif;
  --font-satoshi-bold: "Satoshi-Bold", sans-serif;
}
