:root {
    --background-color: #f3f3f3;

    --text-color: #000000;

    --asphalt-border: #4d4d4d;

    --green: #b1cf86;
    --green-dark: #6c8c3e;

    --darker-red: #dc4848;

    --blue: #84cdee;
    --darker-blue: #3e9ac4;
    --light-blue: #aee5ffcb;

    --red: #f97c7c;

    --gray: #afafaf;
}
