.calendar {
    width: 100%;
    border: none !important;
    height: 352px !important;
}

.sundayTile > abbr {
    opacity: 0.5 !important;
}

.calendar
    :global(
        .react-calendar__month-view__days__day--weekend:not(
                .react-calendar__month-view__days__day--neighboringMonth
            )
    ) {
    color: inherit;
}

.calendar
    :global(
        .react-calendar__month-view__days__day--weekend:nth-child(7n + 1):not(
                .react-calendar__month-view__days__day--neighboringMonth
            )
    )
    > abbr {
    opacity: 0.5;
}

.calendar :global(.react-calendar__month-view__weekdays__weekday) {
    border-bottom: none !important;
    text-decoration: none !important;
    font-weight: 700 !important;
    color: var(--asphalt-border) !important;
}

.calendar :global(.react-calendar__month-view__weekdays__weekday abbr) {
    text-decoration: none !important;
    border-bottom: none !important;
}

.calendar :global(.react-calendar__navigation) {
    border: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-bottom: 4px;
}

.calendar :global(.react-calendar__navigation__arrow) {
    font-size: 32px !important;
    padding: 8px !important;
    opacity: 0.5;
    font-weight: 300 !important;
}

.calendar :global(.react-calendar__navigation__label) {
    font-weight: 700 !important;
    color: var(--asphalt-border) !important;
    flex-grow: 0 !important;
    max-width: 200px !important;
}

.calendar :global(.react-calendar__tile) {
    border: none !important;
}

.calendar :global(.react-calendar__month-view__days__day) {
    font-weight: 400 !important;
    max-height: 36px !important;
}

.calendar :global(.react-calendar__tile.markedDateTile > abbr) {
    opacity: 1 !important;
}

.calendar :global(.react-calendar__month-view) {
    border: none !important;
}

.calendar :global(.react-calendar__month-view__days) {
    gap: 8px 0 !important;
}

.calendar :global(.react-calendar__viewContainer) {
    border: none !important;
}

.calendar :global(*) {
    border-color: transparent !important;
    font-size: 16px !important;
    font-family: "Satoshi", sans-serif !important;
}

.calendar :global(.react-calendar__tile--now) {
    background: transparent !important;
    position: relative;
}

.calendar :global(.react-calendar__tile--now abbr) {
    position: relative;
    z-index: 1;
}

.calendar :global(.react-calendar__tile--now::before) {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2rem;
    height: 2rem;
    border: 1px solid var(--asphalt-border);
    border-radius: 50%;
    z-index: 0;
    opacity: 1 !important;
}

.sundayTile.react-calendar__tile--now::before,
.calendar :global(.sundayTile.react-calendar__tile--now::before) {
    opacity: 1 !important;
    border: 1px solid black !important;
}

.calendar :global(.markedDateTile) {
    border: 1px solid var(--gray) !important;
    border-radius: 4px !important;
    position: relative;
}

.calendar :global(.markedDateTile > abbr) {
    opacity: 1 !important;
}

.calendar :global(.markedType-Theory) {
    background-color: var(--blue) !important;
}

.calendar :global(.markedType-FirstAid) {
    background-color: var(--green) !important;
}

.calendar :global(.markedType-Driving) {
    background-color: var(--red) !important;
}

.markerContainer {
    display: flex;
    justify-content: center;
    margin-top: 2px;
}

.marker {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--asphalt-border);
}
