.container {
  width: 100%;
  margin: 0 auto;
  background-color: var(--background-color);
  font-family: "Satoshi", sans-serif;
  position: relative;
  padding: 1em;
  text-align: center;
}

.navigation-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  padding: 15px;
}

.page-title {
  display: flex;
  align-items: center;
  padding-top: 8px;
}
