.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
}

.top,
.bottom {
  width: 100%;
}

.middle {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
}

.left,
.right {
  flex: 1;
}
