.card-container {
  border-radius: 1em;
  overflow: hidden;
  display: flex;
  font-family: "Satoshi", sans-serif;
  font-size: small;
}

.card-header {
  border: 1px solid #3d3d3d;
  padding: 3%;
  border-radius: 1em;
  z-index: 10;
  position: relative;
}

.card-body {
  z-index: 1;
  border-radius: 1em;
  border: 1px solid #3d3d3d;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 1em;
  padding-top: 30px;
  margin-top: -20px;
}

.card-title {
  font-size: 1em;
  font-weight: 700;
  text-align: center;
}
