.arrow-card {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1.5em;
  border-radius: 1em;
  justify-content: center;
  background-color: #f97c7c;
}

.arrow-card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow-card-title {
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;
}

.card-red {
  background-color: #f97c7c;
}

.card-green {
  background-color: #b1cf86;
}
