.status-container {
  border-radius: 1em;
  overflow: hidden;
  display: flex;
  font-family: "Satoshi", sans-serif;
  font-size: small;
  background-color: #f97c7c;
}

.status-body {
  z-index: 1;
  position: relative;
  border-radius: 1em;
  border: 1px solid #3d3d3d;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 1em;
  padding-top: 30px;
  margin-top: -20px;
}
