.wrapper {
  padding-top: 147px;
  padding-bottom: 52px;
  color: var(--asphalt-border);
  font-family: "Chillax", sans-serif;
}

.greetingText {
  margin: 0;
  font-weight: 500;
  font-size: large;
}

.name {
  margin: 0;
  font-weight: 700;
  font-size: xx-large;
}
