.allCards {
  padding-top: 85px;
}

.rowCards {
  padding-top: 1em;
  display: flex;
  flex-direction: row;
  gap: 1em;
  width: 100%;
  margin-bottom: 1em;
}

.candidateInstructorCard {
  background-color: #b1cf86;
  width: 65%;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
}

.contentTitle {
  padding: 1em;
  font-weight: bold;
  text-align: center;
  background-color: #6c8c3e;
  border-radius: 1em;
}

.cardContent {
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 10px;
}

.instructorName,
.instructorPhone {
  font-weight: bold;
}
