.input {
  border: 1px solid var(--asphalt-border);
  color: var(--text-color);
  border-radius: 20px;
  padding-inline: 20px;
  padding-block: 17px;
  width: 100%;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.18);
}

.error {
  color: var(--darker-red);
}

.inputError {
  border: 1px solid var(--darker-red);
}

.label {
  margin-bottom: 5px;
}

.inputDiv {
  width: 100%;
}
