.menuContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.menuContainer::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.menu {
    width: 327px;
    height: 393px;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    border: 1px solid var(--gray);
    border-radius: 15px;
    position: relative;
    z-index: 1;
}

.newSlotForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    position: relative;
}

.newSlotForm > div {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 256px;
}

.newSlotForm > div > input {
    border-color: var(--gray);
}

.newSlotForm > button {
    height: 40px;
    margin-top: auto;
    margin-bottom: 32px;
    width: 256px;
    font-size: 16px;
    font-weight: 500;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--asphalt-border);
    height: 96px;
    width: 257px;
    margin-inline: auto;
}

.header > h2 {
    font-size: 24px;
    font-weight: 600;
}

.header > img {
    width: 24px;
    height: 24px;
}

.slotList {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 16px;
    overflow-y: scroll;
}

.confirmPopupContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.confirmPopupContainer::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.confirmPopup {
    width: 324px;
    height: 275px;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--gray);
    border-radius: 20px;
    text-align: center;
    position: relative;
    z-index: 1;
    padding-top: 16px;
    padding-bottom: 32px;
    color: var(--asphalt-border);
}

.confirmPopup > img {
    width: 24px;
    height: 24px;
    margin-left: auto;
    margin-bottom: 16px;
}

.confirmPopup > p:first-of-type > span {
    font-weight: 700;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    margin-top: 16px;
}

.options > button {
    width: 130px;
    height: 40px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 20px;
    color: var(--asphalt-border);
}

.options > button:first-child {
    background-color: var(--green);
}

.options > button:last-child {
    background-color: var(--red);
}
